*{
    margin: 0px;
}
.all{
    width: 100%;
    height: 100vh;
    background-image: url(./foto/image\ 7.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.all-1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(300deg,rgba(255, 255, 255, 0),rgba(7, 8, 13, 0.9));
}
.all-2{
    display: flex;
align-items: center;
gap: 20px;

padding-top: 10px;    
}
.all-3{
    display: flex;
    align-items: center;
    gap: 20px;

}
.all-chum{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
.all-text-h5{
    width: 340px;
    margin: 10px 0px;
}
.all-text-h1{
    font-size: 40px;
}
.all-text-color{
 color: rgba(96, 200, 128, 1);    
}
.all-button{
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    background-color:  rgba(96, 200, 128, 1) ;
    color: white;
}
.all-obw-text{
    margin-top: 50px;
    margin-left: 100px;
}
.ds{
    position: fixed;
    left: 900px;
bottom:20px;
    width: 100px;
}
.all-menu{
    display: flex;
    gap: 20px;
}
.top-obshi{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.top-img img{
  width: 300px;
}
.top-text-h5{
    width: 470px;
    color: grey;
    margin: 10px 0px;
}
.top-button{
    padding: 8px 22px;
    color: white;
    background-color:rgba(96, 200, 128, 1) ;
    border: none;
    border-radius: 20px;
}
.top-text-h1{
    font-size: 50px;
    color: rgba(96, 200, 128, 1);
}
.top-border-h1{
    border: 1px solid #60C880;
    width: 60px;
    height: 1px;
    background-color: #60C880;
}
.top-h1-border{
    display: flex;
    align-items: center;
    gap: 20px;
}
.boss-obshi-obshi{
    margin-left: 100px;
}
.boss-h1-margin{
margin: 10px 0px;    
}
.boss-obshi{
    border: 1px solid black;
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 25px;

}
.boss-img img{
      width: 70px;
}
.boss-otprav{
    display: flex;
    align-items: center;
    gap: 20px;
}
.boss-text-h5{
    width: 600px;
    margin: 10px 0px;
}
.aa{
    color: #60C880;
    margin: 20px;
}
.lop{
    background-color: #1B1E31;
    padding-bottom:20px ;
}
.lop-h1-margin{
       color: white;
}
.d{
    margin-left: 20px;
    margin: 20px 10x;
}

.lop-korobka{
    border: 1px solid grey;
    background-color: white;
    width: 300px;
    color: black;
    padding: 20px;
    
}
.lop-korobka img{
    width: 70px;
}
.lopp-korb{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

@media( max-width:510px){

   .all-menu{
    display: none;
   }
   .all{
    background-position: 40%;
   }
   .all-3{
    flex-direction: row-reverse;
   }
   .all-text-h1
   {
    font-size: 55px;
    margin-left: -50px;
   }
   .all-text-h5{
    font-size: 25px;
    margin-left: -50px;
   }
   .all-button{
    width: 240px;
    height: 40px;
    margin-left: -50px;
   }
   .ds{
    position: fixed;
    left: -600px;
   }
   .top-obshi{
    flex-direction: column;
    align-items: center;
    
   }
   .top-text-h5{
    width: 350px;
   }
   .boss-obshi{
    width: 350px;
   }
   .boss-text-h5{
    width: 300px;
   }
   .boss-obshi-obshi{
    margin-left: -10px;
    margin-top: 50px;
   }
   .boss-logo{
    margin-left: 20px;
}

     



}
