*{
    margin: 0px;
}
.all{
    width: 100%;
    height: 100vh;
    background-image: url(./foto/image\ 7.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.all-1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(300deg,rgba(255, 255, 255, 0),rgba(7, 8, 13, 0.9));
}
.all-2{
    display: flex;
align-items: center;
gap: 20px;

padding-top: 10px;    
}
.all-3{
    display: flex;
    align-items: center;
    gap: 20px;

}
.all-chum{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
.all-text-h5{
    width: 340px;
    margin: 10px 0px;
}
.all-text-h1{
    font-size: 40px;
}
.all-text-color{
 color: rgba(96, 200, 128, 1);    
}
.all-button{
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    background-color:  rgba(96, 200, 128, 1) ;
    color: white;
}
.all-obw-text{
    margin-top: 50px;
    margin-left: 100px;
}
.ds{
    position: fixed;
    left: 900px;
bottom:20px;
    width: 100px;
}
.all-menu{
    display: flex;
    gap: 20px;
}
.top-obshi{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.top-img img{
  width: 300px;
}
.top-text-h5{
    width: 470px;
    color: grey;
    margin: 10px 0px;
}
.top-button{
    padding: 8px 22px;
    color: white;
    background-color:rgba(96, 200, 128, 1) ;
    border: none;
    border-radius: 20px;
}
.top-text-h1{
    font-size: 50px;
    color: rgba(96, 200, 128, 1);
}
.top-border-h1{
    border: 1px solid #60C880;
    width: 60px;
    height: 1px;
    background-color: #60C880;
}
.top-h1-border{
    display: flex;
    align-items: center;
    gap: 20px;
}
.boss-obshi-obshi{
    margin-left: 100px;
}
.boss-h1-margin{
margin: 10px 0px;    
}
.boss-obshi{
    border: 1px solid black;
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 25px;

}
.boss-img img{
      width: 70px;
}
.boss-otprav{
    display: flex;
    align-items: center;
    gap: 20px;
}
.boss-text-h5{
    width: 600px;
    margin: 10px 0px;
}
.aa{
    color: #60C880;
    margin: 20px;
}
.lop{
    background-color: #1B1E31;
    padding-bottom:20px ;
}
.lop-h1-margin{
       color: white;
}
.d{
    margin-left: 20px;
    margin: 20px 10x;
}

.lop-korobka{
    border: 1px solid grey;
    background-color: white;
    width: 300px;
    color: black;
    padding: 20px;
    
}
.lop-korobka img{
    width: 70px;
}
.lopp-korb{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.op-obshi{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.op-img img{
  width: 60px;
}
.op-text-h5{
    width: 400px;
    color: grey;
    margin: 10px 0px;
}
.op-button{
    padding: 10px 25px;
    color: white;
    background-color:rgba(96, 200, 128, 1) ;
    border: none;
    border-radius: 20px;
}
.op-text--h1{
    font-size: 50px;
    width: 300px;
}
.op-text-h1{ 
    font-size: 60px;
    color: rgba(96, 200, 128, 1);
}
.op-border-h1{
    border: 1px solid #60C880;
    width: 60px;
    height: 1px;
    background-color: #60C880;
}
.op-h1-border{
    display: flex;
    align-items: center;
    gap: 20px;
}
.op-backolor{
    background-color: #60C880;
    color: white;
    width: 250px;
    height: 240px;
    border-radius: 50%;
    text-align: center;
    border: 40px solid rgb(255, 255, 255);
}
.op-border-border{
    border: 1px black solid;
    border-radius: 50%;
}
.op-da-drun{
    padding-top: 80px;
}
.op-h5-iline{
    margin: 10px 0px;
}
.op-1{
    position: relative;
    bottom: 350px;
    left: 134px;
}
.op-2{
    position: relative;
    right: 100px;
    bottom: 190px;
}
.op-3{
    position: relative;
    left: 9px;
    bottom: 25px;
}
.op-4{
    position: relative;
    left: 110px;
    bottom: 200px;
}
.zaf-img{
    background-color: #ffffff;
    border: 1px solid black;
    width: 160px;
    height: 70px;
    margin: 0px;
    padding: 12px 1px;
}
.zaf-obshi{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.g{
    margin-left: 60px;
}
.img-flex{

    display: flex;
}
.img-flex img{
    width: 100px;
}
.flex-obsh{
    display: flex;
    justify-content: space-evenly;
}
.flex-obshi{
    display: flex;
    margin-left: 60px;
    margin-top: 20px;
    
}
.olala{
    display: flex;
    margin-left: 165px;
    gap: 65px;
}
.img-border1{
    border: 2px solid black;
    width: 250px;
    padding: 20px;
}
.img-border1 img{
    width: 250px;
}
.obw-img{
    display: flex;
    justify-content: center;
}
.k{
    margin-left: 90px;
}
.fle{
    display: flex;
    align-items: center;
}
.kl{
    margin-left: 600px;
}
.l{
    color: white;
  
    border: white;
}
.lo{
    background-color: white;
    border: white;
}
.oxir {
    background-color: #60C880;
    width: 100%;
    height: 500px;
    margin-top: 20px;
}
.input{
    background-color: #60C880;
     border: 1px solid white;
    outline: none;
    color: white;
    padding: 8px 22px;
    width: 250px;
    height: 22px;
    border-radius: 20px;
}
.but{
    width: 300px;
      padding: 11px;
      border-radius: 20px;
      border: none;

}
.vb{
    margin-top: 50px;
}
.asfd{
    margin-left: 80px;
    padding-top: 60px;
}
.oxiri{
    background-color: #1B1E31;
    color: white;
    width: 100%;
    height: 260px;
}
.displey
{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.jk p{
    margin: 10px 0px;
}
.but-oxir{
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    background-color:#60C880;
    color: white;
    margin-top: 10px;
}
.asz{
    color: #60C880;
    
}
.asal{
    border-top: 1px solid gray;
    color: white;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
@media( max-width:510px){

   .all-menu{
    display: none;
   }
   .all{
    background-position: 40%;
   }
   .all-3{
    flex-direction: row-reverse;
   }
   .all-text-h1
   {
    font-size: 55px;
    margin-left: -50px;
   }
   .all-text-h5{
    font-size: 25px;
    margin-left: -50px;
   }
   .all-button{
    width: 240px;
    height: 40px;
    margin-left: -50px;
   }
   .ds{
    position: fixed;
    left: -600px;
   }
   .top-obshi{
    flex-direction: column;
    align-items: center;
    
   }
   .top-text-h5{
    width: 350px;
   }
   .boss-obshi{
    width: 350px;
   }
   
   .boss-text-h5{
    width: 300px;
   }
   .boss-obshi-obshi{
    margin-left: -10px;
    margin-top: 50px;
   }
   .boss-logo{
    margin-left: 20px;
}
.op-obshi{
    flex-direction: column;
}
.z{
    display: none;
}
.op-backolor{
    border: 30px solid white;
}
.op-border-border{
    width: 310px;
    margin-left: 40px;
    margin-top: 30px;
}
.op-1{
    position: relative;
    left: 160px;
    bottom: 340px;
}
.op-2{
    position: relative;
  right: 60px;
}
.op-3{
    left: 40px;
}
.op-4{
    left: 130px;
    bottom: 190px;
}
.ola21{
    flex-direction: column;
}
.flex-obsh {
    flex-direction: column;
    align-items: center;
    
}
.none,.kl,.l1{
    display: none;
}
.flex-obshi{
    margin-left: 100px;
    flex-direction: column;
    margin-top: 0;
}
.olala{
    flex-direction: column;
    margin-left: 0px;
 
    gap: 0px;
}
.asfd{
    margin-left: 10px;
    margin-top: 20px;
}
.input{
    margin: 10px 0px;
}

.ss{
    display: none;
}
.displey{}

.asal{
    flex-direction: column;
    text-align: center;
}



     



}
